set nocompatible              " be iMproved, required
filetype off                  " required
syntax on
set number
set mouse=a
set cinoptions=l1

filetype plugin indent on
set tabstop=4
set shiftwidth=4
set expandtab

" KITTY ONLY
" Styled and colored underline support
let &t_AU = "\e[58:5:%dm"
let &t_8u = "\e[58:2:%lu:%lu:%lum"
let &t_Us = "\e[4:2m"
let &t_Cs = "\e[4:3m"
let &t_ds = "\e[4:4m"
let &t_Ds = "\e[4:5m"
let &t_Ce = "\e[4:0m"
" Strikethrough
let &t_Ts = "\e[9m"
let &t_Te = "\e[29m"
" Truecolor support
let &t_8f = "\e[38:2:%lu:%lu:%lum"
let &t_8b = "\e[48:2:%lu:%lu:%lum"
let &t_RF = "\e]10;?\e\\"
let &t_RB = "\e]11;?\e\\"
" Bracketed paste
let &t_BE = "\e[?2004h"
let &t_BD = "\e[?2004l"
let &t_PS = "\e[200~"
let &t_PE = "\e[201~"
" Cursor control
let &t_RC = "\e[?12$p"
let &t_SH = "\e[%d q"
let &t_RS = "\eP$q q\e\\"
let &t_SI = "\e[5 q"
let &t_SR = "\e[3 q"
let &t_EI = "\e[1 q"
let &t_VS = "\e[?12l"
" Focus tracking
let &t_fe = "\e[?1004h"
let &t_fd = "\e[?1004l"
execute "set <FocusGained>=\<Esc>[I"
execute "set <FocusLost>=\<Esc>[O"
" Window title
let &t_ST = "\e[22;2t"
let &t_RT = "\e[23;2t"

" vim hardcodes background color erase even if the terminfo file does
" not contain bce. This causes incorrect background rendering when
" using a color theme with a background color in terminals such as
" kitty that do not support background color erase.
let &t_ut=''


set clipboard=unnamed
let &t_SI.="\e[5 q" 
let &t_SR.="\e[4 q" 
let &t_EI.="\e[1 q" 


" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" let Vundle manage Vundle, required
Plugin 'VundleVim/Vundle.vim'


" File exploring Plugins
{{- if eq .chezmoi.hostname "deskytoppy" }}
set rtp+=/usr/bin/fzf
{{- end }}
{{- if eq .chezmoi.hostname "Patricks-Macbook-Air" }}
set rtp+=/opt/homebrew/opt/fzf
{{- end }}

" Typesetting Plugins
Plugin 'lervag/vimtex'
Plugin 'xuhdev/vim-latex-live-preview'
Plugin 'vim-pandoc/vim-pandoc-syntax'
Plugin 'quarto-dev/quarto-vim'


" Wiki plugin
Plugin 'vimwiki/vimwiki'


" R Plugins
Plugin 'jalvesaq/Nvim-R'


" Completion/Debugging/Compiling Plugins
Plugin 'valloric/youcompleteme'
Plugin 'tpope/vim-dispatch'
Plugin 'epheien/termdbg'


" Misc
Plugin 'octol/vim-cpp-enhanced-highlight'
Plugin 'AutoClose'
Plugin 'tpope/vim-fugitive'
Plugin 'jeffkreeftmeijer/vim-numbertoggle'
Plugin 'tpope/vim-surround'

" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required

" To ignore plugin indent changes, instead use:
"filetype plugin on
"
" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ
" Put your non-Plugin stuff after this line

" Relevant YCM configuration
command Full YcmShowDetailedDiagnostic
command Recomp YcmForceCompileAndDiagnostics
command Gotodef YcmCompleter GoToDefinition
command Gotodec YcmCompleter GoToDeclaration
command Gotoincl YcmCompleter GoToInclude
command Gotofile YcmCompleter GoToAlternateFile
command Goto YcmCompleter Goto
command Gotodoc YcmCompleter GoToDocumentOutline
let g:ycm_clangd_binary_path = "~/Builds/Clangd/bin/clangd"
let g:ycm_add_preview_to_completeopt = 1
let g:ycm_autoclose_preview_window_after_completion = 1

" fzf configuration
function ChangeCWD(lines)
    exe "e" a:lines[0]
    cd %:h
endfunction

let g:fzf_action = {
    \ 'enter': function('ChangeCWD')}

let g:fzf_colors = {
    \ 'fg':      ['fg', 'Normal'],
    \ 'bg':      ['bg', 'Normal'],
    \ 'query':   ['fg', 'Normal'],
    \ 'hl':      ['fg', 'Comment'],
    \ 'fg+':     ['fg', 'CursorLine', 'CursorColumn', 'Normal'],
    \ 'bg+':     ['bg', 'CursorLine', 'CursorColumn'],
    \ 'hl+':     ['fg', 'Statement'],
    \ 'info':    ['fg', 'PreProc'],
    \ 'border':  ['fg', 'Ignore'],
    \ 'prompt':  ['fg', 'Conditional'],
    \ 'pointer': ['fg', 'Exception'],
    \ 'marker':  ['fg', 'Keyword'],
    \ 'spinner': ['fg', 'Label'],
    \ 'header':  ['fg', 'Comment'] }

command L call fzf#run(fzf#wrap({'source': 'find . -maxdepth 5', 'options': '--preview="head"'}))
command Lt call fzf#run(fzf#wrap({'source': 'find . -maxdepth 5', 'sink': 'tabe', 'options': ['--preview', 'head']}))
command -complete=dir -nargs=? O call fzf#run(fzf#wrap({'source': 'find . -maxdepth 5', 'dir': <q-args>, 'options': ['--preview', 'head']}))
command -complete=dir -nargs=? Ot call fzf#run(fzf#wrap({'source': 'find . -maxdepth 5', 'dir': <q-args>, 'sink': 'tabe', 'options': ['--preview', 'head']}))

" Other commands
command C Copen
function OpenExit()
    Copen
    q
endfunction
command Cn call OpenExit()
